[submodule "ecm/lisp/old-maxclaims/maxclaims"]
	path = ecm/lisp/old-maxclaims/maxclaims
	url = git@github.com:Aufin/ecm.git
[submodule "ecm/lisp/old-maxclaims/pongo-db"]
	path = ecm/lisp/old-maxclaims/pongo-db
	url = https://github.com/drewc/pongo-db.git
[submodule "ecm/lisp/old-maxclaims/pwap"]
	path = ecm/lisp/old-maxclaims/pwap
	url = git@github.com:drewc/pwap.git
[submodule "ecm/lisp/old-maxclaims/quux-hunchentoot"]
	path = ecm/lisp/old-maxclaims/quux-hunchentoot
	url = https://gitlab.common-lisp.net/qitab/quux-hunchentoot.git
[submodule "ecm/lisp/old-maxclaims/sexpml"]
	path = ecm/lisp/old-maxclaims/sexpml
	url = https://github.com/drewc/sexpml.git
[submodule "ecm/lisp/old-maxclaims/yasexml"]
	path = ecm/lisp/old-maxclaims/yasexml
	url = git@github.com:drewc/yasexml.git
