# https://caddyserver.com/docs/caddyfile

# You can define special blocks called snippets by giving them a name
# surrounded in parentheses:

(ecm) {
	log {
		level DEBUG
		output file /srv/ecm/var/log/caddy/service.log {
			roll_size 1gb
			roll_keep 5
			roll_keep_for 120h
		}
		format append {
			operating_system {system.os}
			server_env {env.SERVER_ENV}
		}
	}

	# respond "Yahaha! You found {args[0]}!"

	# The login: from old to new

	redir /ecm/login* /login/
	redir / /ecm/index
	redir /ecm/diary* /diary/

	handle_path /diary/* {
		reverse_proxy localhost:8080
	}

	rewrite /rpc/* {uri}.ss

	# The old SPA has a bunch

	@reportsub path_regexp ^/report/.*/
	@reportdom path_regexp ^/report/[^/]*
	rewrite @reportsub /old-spa/dist{uri}
	rewrite @reportdom /old-spa/dist/index.html

	rewrite /assets/* /old-spa/dist{uri}

	# reverse_proxy /ecm/login* localhost:8080
	reverse_proxy /ecm/* localhost:4242
	reverse_proxy * localhost:8080
}

(ecm-https) {
	tls /srv/ecm/app/etc/https.pem /srv/ecm/app/etc/https.key
	import ecm "On Port 443"
}

gimmy.lan,
ecm.maxwellclaims.net,
webinsure.maxwellclaims.net {
	import ecm-https
}

:80 {
	import ecm "on Port 80"
}

:443 {
	tls internal {
		on_demand
	}
	import ecm "On Port 443"
}
