# https://caddyserver.com/docs/caddyfile

# You can define special blocks called snippets by giving them a name
# surrounded in parentheses:

(ecm) {
	log {
		level DEBUG
		output file /srv/ecm/var/log/caddy/service.log {
			roll_size 1gb
			roll_keep 5
			roll_keep_for 120h
		}
		format append {
			operating_system {system.os}
			server_env {env.SERVER_ENV}
		}
	}

	# respond "Yahaha! You found {args[0]}!"

	# The login: from old to new

	redir /ecm/login* /login/
    redir /ecm/diary* /diary/

    # The handle path is for the middle SPA so everything from root

    handle_path /diary/* {
        reverse_proxy localhost:8080
    }
    handle_path /bordereau/* {
	  	reverse_proxy localhost:8080
	}
    handle_path /contract/* {
	  	reverse_proxy localhost:8080
    }
    handle_path /manage/* {
	  	reverse_proxy localhost:8080
	}
    handle_path /movement/* {
	  	reverse_proxy localhost:8080
	}
    handle_path /time-recorded/* {
	  	reverse_proxy localhost:8080
    }
    handle_path /query/* {
	  	reverse_proxy localhost:8080
	}
    handle_path /person/* {
	  	reverse_proxy localhost:8080
	}
    handle_path /staging* {
	  	reverse_proxy localhost:8080
	}


    # It is mutually exclusive to other rewrite directives in the same
    # block, so it is safe to define rewrites that would otherwise
    # cascade into each other as only the first matching rewrite will
    # be executed.

    rewrite /rpc/*.ss {uri}
	rewrite /rpc/* {uri}.ss

	# The old SPA has a bunch

	@reportsub path_regexp ^/report/.*/
	@reportdom path_regexp ^/report/[^/]*
	rewrite @reportsub /old-spa/dist{uri}
	rewrite @reportdom /old-spa/dist/index.html

    rewrite /assets/* /old-spa/dist{uri}

    @create_risk query create[type]=risk

    rewrite @create_risk /risk/create.html



	# redir / /ecm/index

	# reverse_proxy /ecm/login* localhost:8080
	reverse_proxy /ecm/* localhost:4242
	reverse_proxy * localhost:8080
}

(ecm-https) {
	tls /srv/ecm/app/etc/https.pem /srv/ecm/app/etc/https.key
	import ecm "On Port 443"
}

gimmy.lan,
ecm.maxwellclaims.net,
webinsure.maxwellclaims.net {
	import ecm-https
}

:80 {
	import ecm "on Port 80"
}

:443 {
	tls internal {
		on_demand
	}
	import ecm "On Port 443"
}
