
.presentation-slot-label {
	background-color: #EEEEEE;
	padding : 0 0.5em 0em 0.5em;	
}

.presentation-slot-value {

 padding : 0 0.5em 0em 0.5em;	
}

th {
	border-bottom: 1px solid grey;
}

td {
	margin :1em;
}

.claim-number {
	font-size: large;

}



div.auto-complete {
      position:absolute;
      width:250px;
      background-color:white;
      border:1px solid #888;
      margin:0px;
      padding:0px;
    }
    ul.auto-complete-list  {
      list-style-type: none;
      margin:0px;
      padding:0px;
    }
    ul.auto-complete-list li.selected { background-color: #ffb; }
    li.auto-complete-list-item {
      list-style-type: none;
      display:block;
      margin:0;
      padding:2px;
      height:32px;
    }
    li.auto-complete-list-item div.image {
      float:left;
      width:32px;
      height:32px;
      margin-right:8px;
    }
    li.auto-complete-list-item div.name {
      font-weight:bold;
      font-size:12px;
      line-height:1.2em;
    }
    li.auto-complete-list-item div.email {
      font-size:10px;
      color:#888;
    }
    #list {
      margin:0;
      margin-top:10px;
      padding:0;
      list-style-type: none;
      width:250px;
    }
    #list li {
      margin:0;
      margin-bottom:4px;
      padding:5px;
      border:1px solid #888;
      cursor:move;
    }
body {
      background:#fff;
      margin:0;
      padding:0;
      color:#000;
      font:x-small/1.5em Verdana, Arial,Sans;
      voice-family: "\"}\""; voice-family:inherit;
      font-size:small;
      } html>body {font-size:small;}

div.notes h4 {
  background-image: url("/maxwell/icon_info.gif");
  background-repeat: no-repeat;
  background-position: top left;
  padding: 0px 0px 0px 27px;
  margin-top:0px;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: #666666;
  color: #666666;
  font-size: 110%;
}

#ucw-login {
	position:relative;
	float:left;
}

.border-except-top {
    border:1px dotted black;
    border-top-width: 0px ;
}

div.tabs {
      float:left;
      width:100%;
      font-size:93%;
      line-height:normal;
}

div.tabs input {
	display:inline;
}
div.tabs h1 {
    	display:inline;
	font-size : 200%;
   }

    
div.tabs ul {
     padding:0px;
      margin:0;
      /* padding:10px 10px 0;*/
      list-style:none;
      }
    div.tabs li {
      white-space:nowrap;
      float:left;
      background:url("left_both.gif") no-repeat left top;
      margin:0;
      padding:0 0 0 9px;
      border-bottom:1px solid #765;
      }
    div.tabs li a {
      float:left;
      display:block;
      width:.1em;
      background:url("right_both.gif") no-repeat right top;
      padding:5px 15px 4px 6px;
      text-decoration:none;
      font-weight:bold;
      color:#765;
      }
    div.tabs > ul a {width:auto;}
    /* Commented Backslash Hack hides rule from IE5-Mac \*/
    div.tabs a {float:none;}
    /* End IE5-Mac hack */
    div.tabs a:hover {
      color:#333;
      }
   
    div.tabs .current {
      background-position:0 -150px;
      border-width:0;
      }

 div.tabs .current span.space {
      float:left;
      padding-bottom:3px;
      padding-top:5px;
      padding-right:0px;
      padding-left:0px;
      color:#333;
      background:url("center-both.gif") repeat-x right top;
      background-position:100% -150px;
      
      }
    div.tabs .current a {
      background-position:100% -150px;
      padding-bottom:5px;
      color:#333;
     
      }
div.tabs .inline {
    padding-top:0px;
    padding-left:0px;
}

   
    div.tabs .current a:hover {
      text-decoration:none;
      cursor: default;
    }	

    div.tabs li:hover, div.tabs li:hover a {
      background-position:0% -150px;
      color:#333;
      }
    div.tabs li:hover a {
      background-position:100% -150px;
      }

#header {
      float:left;
      width:100%;
      background:#DAE0D2 url("bg.gif") repeat-x bottom;
      font-size:93%;
      line-height:normal;

      }

#header input {
	display:inline;
}
    #header h1 {
    	display:inline;
	font-size : 125%;
   }
    #header ul {
      margin:0;
      padding:10px 10px 0;
      list-style:none;
      }
    #header li {
	white-space:nowrap;
      float:left;
      background:url("left_both.gif") no-repeat left top;
      margin:0;
      padding:0 0 0 9px;
      border-bottom:1px solid #765;
      }
    #header li a {
      float:left;
      display:block;
      width:.1em;
      background:url("right_both.gif") no-repeat right top;
      padding:5px 15px 4px 6px;
      text-decoration:none;
      font-weight:bold;
      color:#765;
      }
    #header > ul a {width:auto;}
    /* Commented Backslash Hack hides rule from IE5-Mac \*/
    #header a {float:none;}
    /* End IE5-Mac hack */
    #header a:hover {
      color:#333;
      }
    #header #current {
      background-position:0 -150px;
      border-width:0;
      }
    #header #current a {
      background-position:100% -150px;
      padding-bottom:5px;
      color:#333;
      }
    #header li:hover, #header li:hover a {
      background-position:0% -150px;
      color:#333;
      }
    #header li:hover a {
      background-position:100% -150px;
      }

div.notes {
  float: right;
  width: 158px;
  height: auto;
  margin: 0px 0px 10px 10px;
  padding: 5px;
  border: 1px solid #666666;
  background-color: #ffffe1;
  color: #666666;
  font-size: 88%;
}

div.note {
  position:absolute;
  right:10px;
  width: 200px;
  height: 200px;
  overflow:auto;
  margin: 0px 0px 10px 10px;
  padding: 5px;
  border: 1px solid #666666;
  background-color: #ffffe1;
  color: #666666;
  font-size: 88%;
}

 fieldset
{
	display: block;
	margin: 0 0 3em 0;
	padding: 0 1em 1em 1em;
	background-color: #EEEEEE;
}

 fieldset.submit
{
	border: none;
	background-color: transparent;
	text-align: center;
}

 fieldset.radio
{
	margin: 1em 0 2em 0;
	background-color: #DDDDDD;
}

 fieldset.radio label
{
	font-weight: normal;
}

 fieldset.radio input
{
	clear: both;
	float: left;
	width: auto;
}

 input
{
	display: inline;
	margin : 0.3em;
}

 label
{
	display: block;
	margin-bottom: 1em;
	font-weight: bold;
}

 select
{
	display: block;
}




/* The main calendar widget.  DIV containing a table. */

.calendar {
  position: relative;
  display: none;
  border: 1px solid;
  border-color: #fff #000 #000 #fff;
  font-size: 11px;
  cursor: default;
  background: Window;
  color: WindowText;
  font-family: tahoma,verdana,sans-serif;
}

.calendar table {
  border: 1px solid;
  border-color: #fff #000 #000 #fff;
  font-size: 11px;
  cursor: default;
  background: Window;
  color: WindowText;
  font-family: tahoma,verdana,sans-serif;
}

/* Header part -- contains navigation buttons and day names. */

.calendar .button { /* "<<", "<", ">", ">>" buttons have this class */
  text-align: center;
  padding: 1px;
  border: 1px solid;
  border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
  background: ButtonFace;
}

.calendar .nav {
  background: ButtonFace url(menuarrow.gif) no-repeat 100% 100%;
}

.calendar thead .title { /* This holds the current "month, year" */
  font-weight: bold;
  padding: 1px;
  border: 1px solid #000;
  background: ActiveCaption;
  color: CaptionText;
  text-align: center;
}

.calendar thead .headrow { /* Row <TR> containing navigation buttons */
}

.calendar thead .daynames { /* Row <TR> containing the day names */
}

.calendar thead .name { /* Cells <TD> containing the day names */
  border-bottom: 1px solid ButtonShadow;
  padding: 2px;
  text-align: center;
  background: ButtonFace;
  color: ButtonText;
}

.calendar thead .weekend { /* How a weekend day name shows in header */
  color: #f00;
}

.calendar thead .hilite { /* How do the buttons in header appear when hover */
  border: 2px solid;
  padding: 0px;
  border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
}

.calendar thead .active { /* Active (pressed) buttons in header */
  border-width: 1px;
  padding: 2px 0px 0px 2px;
  border-color: ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow;
}

/* The body part -- contains all the days in month. */

.calendar tbody .day { /* Cells <TD> containing month days dates */
  width: 2em;
  text-align: right;
  padding: 2px 4px 2px 2px;
}
.calendar tbody .day.othermonth {
  font-size: 80%;
  color: #aaa;
}
.calendar tbody .day.othermonth.oweekend {
  color: #faa;
}

.calendar table .wn {
  padding: 2px 3px 2px 2px;
  border-right: 1px solid ButtonShadow;
  background: ButtonFace;
  color: ButtonText;
}

.calendar tbody .rowhilite td {
  background: Highlight;
  color: HighlightText;
}

.calendar tbody td.hilite { /* Hovered cells <TD> */
  padding: 1px 3px 1px 1px;
  border-top: 1px solid #fff;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #fff;
}

.calendar tbody td.active { /* Active (pressed) cells <TD> */
  padding: 2px 2px 0px 2px;
  border: 1px solid;
  border-color: ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow;
}

.calendar tbody td.selected { /* Cell showing selected date */
  font-weight: bold;
  border: 1px solid;
  border-color: ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow;
  padding: 2px 2px 0px 2px;
  background: ButtonFace;
  color: ButtonText;
}

.calendar tbody td.weekend { /* Cells showing weekend days */
  color: #f00;
}

.calendar tbody td.today { /* Cell showing today date */
  font-weight: bold;
  color: #00f;
}

.calendar tbody td.disabled { color: GrayText; }

.calendar tbody .emptycell { /* Empty cells (the best is to hide them) */
  visibility: hidden;
}

.calendar tbody .emptyrow { /* Empty row (some months need less than 6 rows) */
  display: none;
}

/* The footer part -- status bar and "Close" button */

.calendar tfoot .footrow { /* The <TR> in footer (only one right now) */
}

.calendar tfoot .ttip { /* Tooltip (status bar) cell <TD> */
  background: ButtonFace;
  padding: 1px;
  border: 1px solid;
  border-color: ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow;
  color: ButtonText;
  text-align: center;
}

.calendar tfoot .hilite { /* Hover style for buttons in footer */
  border-top: 1px solid #fff;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #fff;
  padding: 1px;
  background: #e4e0d8;
}

.calendar tfoot .active { /* Active (pressed) style for buttons in footer */
  padding: 2px 0px 0px 2px;
  border-top: 1px solid #000;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #000;
}

/* Combo boxes (menus that display months/years for direct selection) */

.calendar .combo {
  position: absolute;
  display: none;
  width: 4em;
  top: 0px;
  left: 0px;
  cursor: default;
  border: 1px solid;
  border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
  background: Menu;
  color: MenuText;
  font-size: 90%;
  padding: 1px;
  z-index: 100;
}

.calendar .combo .label,
.calendar .combo .label-IEfix {
  text-align: center;
  padding: 1px;
}

.calendar .combo .label-IEfix {
  width: 4em;
}

.calendar .combo .active {
  padding: 0px;
  border: 1px solid #000;
}

.calendar .combo .hilite {
  background: Highlight;
  color: HighlightText;
}

.calendar td.time {
  border-top: 1px solid ButtonShadow;
  padding: 1px 0px;
  text-align: center;
  background-color: ButtonFace;
}

.calendar td.time .hour,
.calendar td.time .minute,
.calendar td.time .ampm {
  padding: 0px 3px 0px 4px;
  border: 1px solid #889;
  font-weight: bold;
  background-color: Menu;
}

.calendar td.time .ampm {
  text-align: center;
}

.calendar td.time .colon {
  padding: 0px 2px 0px 3px;
  font-weight: bold;
}

.calendar td.time span.hilite {
  border-color: #000;
  background-color: Highlight;
  color: HighlightText;
}

.calendar td.time span.active {
  border-color: #f00;
  background-color: #000;
  color: #0f0;
}







